:root {
	--primary-dark:		#095256;	/* Темно-зеленый */
	--primary-accent:	#087F8C;	/* Акцентный бирюзовый */
	--secondary-green:	#5AAA95;	/* Светло-зеленый */
	--secondary-olive:	#86A873;	/* Оливковый */
	--accent-gold:		#BB9F06;	/* Золотой акцент */
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: var(--primary-dark);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
}


/*Шапка*/
header {
    width: 100%;
    background-color: var(--secondary-green);
	position: fixed;
	font-weight: bold;
	z-index: 1000;
}
.header-content {
    width: 90%;
	margin: 10px auto;
    display: flex;
    align-items: center;
}
.header-content > *{
	margin-left: 10px;
}
.header-content > *:first-child { /* Первый элемент */
	margin: 0;
	padding: 0;
}
.image-button{
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
.header-content > a > img, .header-content > button > img{
	max-width:32px;
	max-height:32px;
}

input[type="text"]{
	flex-grow: 1;
	padding: 5px;
	border: 1px solid #ccc; /* Граница поля ввода */
	border-radius: 0px;
}
a{
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





/*Основной контент*/
.content-wrapper {
    width: 85%;
	height: 100%;
    margin: 0 auto;
    flex: 1;
    padding: 4rem 0;
    background-color: var(--primary-accent);
}
.content-wrapper > *{
	margin: 30px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat, sans-serif;
}
h2,h3,h4,h5,h6 {
	padding-left: 35px;
}
.content-wrapper > h2,.content-wrapper > h3,.content-wrapper > h4,.content-wrapper > h5,.content-wrapper > h6 {
	margin-bottom:5px;
}
.content-wrapper > p{
	margin-top: 0px;
	margin-bottom: 0px;
}

h1{
    text-align: center;
}


p {
	white-space: pre-wrap; /* Сохраняем переносы и печатаем табы*/
}
.content-wrapper p + p{
	margin-top: 1.3em;
}

br {
	display: inline-block;
	margin-left: -30px;    /* Корректируовка отступа после <br> */
}

/*Новинки*/
.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 8px; /* Расстояние между изображениями */
	padding: 16px;
	max-width: 1200px; /* Ограничение максимальной ширины */
	margin: 0 auto; /* Центрирование */
}

.image-grid img {
	width: 100%;
	height: auto;
	object-fit: cover; /* Сохраняет пропорции и обрезает изображение */
	aspect-ratio: 1; /* Квадратные ячейки (опционально) */
	border-radius: 4px; /* Скругление углов */
}







/*Подвал*/
footer{
	background-color: var(--secondary-olive);
	color: black;
	padding-bottom:15px;
	padding-top:10px;
	text-align: center;
	position: relative;
	margin:0 auto;
	bottom: 0px;
	width:85%;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
footer > h2{
	padding-left: 0px;
	margin-bottom: 20px;
}

.contact p {
	margin: 1px 0;
}

.social+p{
	margin-top: 1px;
}

footer a {
	color: #333;
	margin: 0 1px;
	text-decoration: none;
}
.social > a:hover {
    text-decoration: underline;
}
