<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/good_frame.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/admin_panel.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/modal_form.css')}}">
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
		<script src="{{url_for('static',filename='scripts/manufacturers_scripts.js')}}"></script>
		<title>Панель админа</title>
	</head>
	<body>
		<header>
			<h1>Панель администратора</h1>
		</header>
		<main class="content-wrapper">
			<main class="content-wrapper data-grid-block">
				<h1>Производители</h1>
				<div class="gold-border">
					<div class="data-grid manufacturer-grid" id="manufacturers_grid">
					</div>
					<button onclick="openModal()" class="square-btn"><strong>+</strong></button>
				</div>
			</main>
			<main class="content-wrapper good-info-grid">
				<h1>Товары</h1>
				<div class="gold-border">
					<div class="image-grid data-grid" id="goods_grid">
					</div>
					<button class="square-btn"><strong>+</strong></button>
				</div>
			</main>
		</main>

		<!--Формы для ввода данных-->
		<div class="overlay" id="manufacturers_form_overlay">
			<div class="modal">
				<form action="/api/manufacturers/" method="post" class="modal-form" id="manufacturers_form">
					<input type="text" name="name" placeholder="Введите данные" required>
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					<div class="form-buttons">
						<button type="submit">Добавить</button>
						<button type="button" onclick="closeModal()">Отмена</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>