<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flexboxgrid2@7.2.1/flexboxgrid2.min.css">

		<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
		<script src="{{url_for('static',filename='scripts/goods_scripts.js')}}"></script>
		<title>Каталог товаров</title>
	</head>
	<body>
		<main class="content-wrapper">
			<div class="image-grid">
				<div id="goods_grid">
				</div>
			</div>
		</main>
	</body>
</html>