<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
		<title>MStore</title>
	</head>
	<body>
		<header>
			<div class="header-content">
				<a href="/">
					<img src="{{url_for('static',filename='Merch Store small.png')}}" alt="MStore">
				</a>
				<a href="/">Главная</a>
				<a href="/">О нас</a>
				<a href="/" target="_blank">Контакты</a>
				<a href="/goods/" target="_blank">Товары</a>
				<input class="item" placeholder="Поиск..." type="text">
				<button class="image-button">
					<img alt="search" src="{{url_for('static', filename='magnifyingglass.png')}}">
				</button>
				<button class="image-button">
					<img alt="basket" src="{{url_for('static', filename='shopping cart.png')}}" width="32" height="32">
				</button>
			</div>
		</header>
		
		<main class="content-wrapper">
			<h1>Добро пожаловать в магазин мерча MStore!</h1>
			<h2>О нас</h2>
			<p>	На дворе праздники и нечего подарить? Хочется купить что-то <em><strong>оригинальное</strong></em> и <em><strong>интересное</strong></em>? Устали от <em><strong>скушных</strong></em> вещей? <br>	Если да, то вы пришли <em><strong>по адресу</strong></em>. Здесь вы найдёте <em><strong>всё</strong></em>: футболки, шапки, джинсы, толстовки, тарелки, вилки, ложки, мечи, ножи, подарочные упаковки и <em><strong>многое другое</strong></em>, <em><strong>всё</strong></em> что вам нужно есть <strong>только у нас</strong>!</p>
			<p>	Для покупки товара выберете его среди каталога товаров и поместите в корзину. <br>	После выбора набора товаров наша система оформит ваш заказ и доставит в течении нескольких суток! <br>	<strong>Скорее</strong>, <strong>не упустите свой шанс</strong> приобрести <em><strong>уникальные</strong></em> товары, <strong>время не ждёт!</strong> Не упустите свой шанс найти то, что потом не найти; <strong>не расстраивайте себя в будущем!</strong></p>
			<h2>Наши новинки</h2>
			<div class="image-grid">
				<div>
					<img src="{{url_for('static',filename='Merch Store.png')}}" alt="Описание">
				</div>
				<div>
					<img src="{{url_for('static',filename='Merch Store.png')}}" alt="Описание">
				</div>
				<div>
					<img src="{{url_for('static',filename='Merch Store.png')}}" alt="Описание">
				</div>
				<div>
					<img src="{{url_for('static',filename='Merch Store.png')}}" alt="Описание">
				</div>
				<div>
					<img src="{{url_for('static',filename='Merch Store.png')}}" alt="Описание">
				</div>
			</div>
		</main>
		<footer>
			<h2>Контакты</h2>
			<div class="contact">
				<p>Разработчик стажёр: Голуб Захар Владимирович</p>
				<p>Группа: <strong>ИС-33</strong></p>
			</div>
			<div class="social">
				<a href="https://github.com/ClassZak" target="_blank">ClassZak</a>
			</div>
			<p>&copy; 2025 MStore. Все права защищены.</p>
			
			<!-- Описание проекта -->
			<h2>Описание проекта</h2>
			<div class="contact">
				<p>Тема: <strong>"Магазин мерчевой продукции"</strong></p>
				<p>Версия: <strong>0.0.1.a</strong></p>
			</div>
			<h3>Список изменений</h3>
			
			<ol>
				<li>Добавление рамки у "новинок"</li>
				<li>Добавление нужной информации о проекте</li>
				<li>Изменение заднего фона</li>
			</ol>
		</footer>
	</body>
</html>