/*Основной контент*/
.content-wrapper {
    width: 85%;
	height: auto;
    margin: 0 auto;
    flex: 1;
    padding: 4em 0;
    background-color: var(--primary-accent);
}
.content-wrapper > .content-wrapper{
	width: 100%;
	flex: 0;
	padding: 0 0 0 0;
}
.content-wrapper > *{
	margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat, sans-serif;
}
h2,h3,h4,h5,h6 {
	padding-left: 0px;
}
h1{
    text-align: center;
}

.content-wrapper > h2,.content-wrapper > h3,.content-wrapper > h4,.content-wrapper > h5,.content-wrapper > h6 {
	margin-bottom:0px;
}
.content-wrapper > p{
	margin-top: 0px;
	margin-bottom: 0px;
}


/* Новые стили*/
/* Кнопки формы*/
.form-buttons {
	display: flex;
	gap: 10px;
	margin-top: 15px;
}
