.error-window{
	position: fixed;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
	align-self: center;

	background-color: red;

	display: flex;
	align-items: center;
	gap: 15px;
	max-width: 70%;

	padding: 10px;
}
.error-window-text-content {
	flex: 1;
	word-wrap: break-word;
}

.error-window-square-btn {
	width:	30px;
	height:	30px;
	border-radius: 10px;

	color: white;
	background-color: crimson;
}