.data-grid-block .data-grid > div{
	box-shadow: 1px 1px 10px #111;
}
.data-grid-block .data-grid > div:hover{
	box-shadow: 1px 1px 30px #111;
}
/*Ячейка товара*/
.data-grid div:not(img){
	border: 1px solid #ccc;
}
.data-grid img{
	border: 0;
}