.data-grid-block .data-grid > div{
	box-shadow: 1px 1px 10px #111;
}
@media (hover: hover) and (pointer: fine) {
	.data-grid-block .data-grid > div:hover{
		box-shadow: 1px 1px 15px #111;
	}
}
/* Убираем рамку из старого стиля */
.data-grid > div:not(img) {
	border: 0;
}

/* Ячейка товара */
.data-grid > div:not(img){
	border: 1px solid #ccc;
}
.data-grid img{
	border: 0;
}


/* Стиль для золотой рамки */
.gold-border{
	border: solid var(--accent-gold);
	z-index: 2
}

/*Стиль для описания элементов*/
.card-description{
	margin-top: auto; /* Прижимает описание к низу */
	padding: 10px;
}

.card h1, h2, h3, h4, h5, h6{
	padding-left: 0;
}
.card:hover{
	transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.card .card:hover{
	transition: none;
	transform: none;
}



/*Стиль для карточек-ссылок*/
.data-grid > a.card {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    cursor: pointer; /* Изменяем курсор для визуального обозначения */
}